*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(cal.png);
    background-size: cover;
}

.Calculator{
            padding: 20px;
            border: 2px solid rgb(52, 133, 254);
            border-radius: 16px;
            box-shadow: 0px 3px 15px rgba(10, 15, 13, 2);
            background: rgba(101, 176, 251, 0.8);
}

input{
    width: 320px;
    padding: 24px;
    margin: 10px;
    background: rgb(126, 215, 245);
    box-shadow: inset 2px 2px 8px rgb(55, 55, 146);
    font-size: 65px;
    text-align: right;
    color: white;
    border: solid 2px rgb(42, 145, 213);
    border-radius: 16px;
    text-shadow: 0px 1px 5px rgb(50, 146, 215);
}

input::placeholder{
                    color: rgb(22, 22, 22);
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 96, 229, 0.989);
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgb(72, 116, 248);
    border-radius:20px ;
}

.ac, .del{
            font-size: 20px;
}

button:hover{
            color: rgba(7, 69, 93, 0.829);
            background-color: rgb(55, 198, 234);
}

.equalBtn{
        background-color: rgba(241, 21, 21, 0.932);
}

.operator{
            color: rgb(248, 159, 25);
}